
html {

	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-size:62.5%;
	-webkit-tap-highlight-color:transparent;
	height:100%;


}

body {

	line-height:1.42857;
	color:#333;
	background: #00B0B7 repeat scroll 0% 0%;
	background: url("../img/mpkt.jpg") repeat;
	font-family:"Open Sans", sans-serif;
	position:relative;
	min-height:100%;
	font-size:16px;
	margin:0;
	overflow-x: hidden;
}

section {
	display: block;
	-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
}

.row {

	-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;
}

h1,h2,h3,h4,h5,h6 {
/*font-family:"Open Sans",sans-serif;*/
-webkit-font-smoothing:antialiased;
text-rendering:optimizeLegibility;
-moz-osx-font-smoothing:grayscale;
text-transform:uppercase;
}

.clear { clear:both;}

#overlay {
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(255,255,255,0.6);
z-index:999;
}


/** bOOTSTRAP Clearing **/

h1 {
font-size:2em;
margin:.67em 0;
}

mark {
background:#ff0;
color:#000;
}

small {
font-size:80%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

img {
border:0;
vertical-align:middle;
}

svg:not(:root) {
overflow:hidden;
}

hr {
-moz-box-sizing:content-box;
box-sizing:content-box;
height:0;
margin-top:20px;
margin-bottom:20px;
border:0;
border-top:1px solid #eee;
}

pre {
overflow:auto;
}

code,kbd,pre,samp {
font-family:monospace, monospace;
font-size:1em;
}

button,input,optgroup,select,textarea {
color:inherit;
font:inherit;
margin:0;
}

button {
overflow:visible;
}

button,select {
text-transform:none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
-webkit-appearance:button;
cursor:pointer;
}

button[disabled],html input[disabled] {
cursor:default;
}

input {
line-height:normal;
}

input[type="checkbox"],input[type="radio"] {
box-sizing:border-box;
padding:0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
height:auto;
}

input[type="search"] {
-webkit-appearance:textfield;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none;
}

fieldset {
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em;
}

textarea {
overflow:auto;
height:100px;
}

table {
border-collapse:collapse;
border-spacing:0;
}

td,th {
padding:0;
}

input,button,select,textarea {
font-family:inherit;
font-size:inherit;
line-height:inherit;
}

a:hover,a:focus {
color:#2a6496;
text-decoration:underline;
}

a:focus {
outline:5px auto 0;
outline-offset:-2px;
}

.img-responsive {
display:block;
max-width:100%;
height:auto;
}

.img-rounded {
border-radius:6px;
}

.img-thumbnail {
line-height:1.42857;
background-color:#fff;
border:1px solid #ddd;
border-radius:4px;
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
display:inline-block;
max-width:100%;
height:auto;
padding:4px;
}

.img-circle {
border-radius:50%;
}

.sm-line {
height:2px;
width:25px;
background:#3291cd;
content:"";
margin:15px auto;
}


a {
background:transparent;
color:#428bca;
text-decoration:none;
}

a:active,a:hover {
outline:0;
}

/** END BOOTSTRAP CLEAR**/


/** Screen Borders **/


.border-top,.border-bottom,.border-left,.border-right {
background:#FFF;
position:fixed;
z-index:100;
}

.border-left,.border-right {
top:0;
bottom:0;
width:10px;
}

.border-top,.border-bottom {
left:0;
right:0;
height:10px;
}

.border-bottom {
bottom:0;
}

.border-right {
	right: 0;
}

.border-left {
	left: 0;
}

.border-top
{
	top: 0;
}

/*****/


/** #pagecontents is the full layout div **/
#pagecontents {
min-height:100%;
position:relative;
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
}


#pagecontents.mopen {


-webkit-transform:translate(-10%);
-moz-transform:translate(-10%);
-ms-transform:translate(-10%);
-o-transform:translate(-10%);
transform:translate(-10%);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;

}

 
.alert a {
	font-size: 1.6em;
	/*color: #EF413D;*/
	background-color: #FFE600;
	padding: 10px;
}

.title-contain {

}

/* MainHome = Front First Page */


#MainHome {
min-height:89vh;
padding-top:220px;

z-index: 1;
}

#MainHome img{
	width: 200px;
	min-width: 100%;
}



#MainHome h1 {
	color:FFE600;
	font-weight: bold;

}

#MainHome h2 {
	padding-top: 0px;
	color:#fff;
	text-transform: none;
	margin-top: 5px;
}

#MainHome h4 {
	/*color: #FFE600;*/
	color: #fff;
	/*font-size: 1.6em;*/
	text-transform: none;
	
	
}
#MainHome .page-title{
/*text-transform:uppercase;*/
position:relative;
top:25px;
z-index:7;
padding:0 10px;
}

#MainHome .page-title .pretitle{
line-height:1;
font-family:"Open Sans", sans-serif;
top:0px;
/*width:220%;*/
margin:0;
color: #fff;
float: 
}

#MainHome .page-title h1,#MainHome .page-title h2{
font-size:8em;
line-height:1;
/*color:#1f2022;*/
color:#FFE600;
margin:0;
}

#dateid {
	margin-top: 5px;
	font-family: "Lato", sans-serif;

}

#dateid h1 {
	margin-top: 30px;
	margin-bottom: 0;
}

#dateid h1 {
	font-size: 3em;
	color: #FFF;
}




/** Home Tabs **/

#infoTabs
	{
		bottom: 0;
		height: 50px;
		background-color: blue;
		position: absolute;

	}


/*** END Home Tabs ***/




/** END #MainHome Configs **/


/** CSS for Slanting the color of the sections. Add this class to section to make it slanting **/

.slant {
position:relative;
margin:100px 0;
}

.slant.top:before {
-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;
-webkit-transform:rotate(-4deg);
-moz-transform:rotate(-4deg);
-ms-transform:rotate(-4deg);
-o-transform:rotate(-4deg);
transform:rotate(-4deg);
position:absolute;
z-index:-1;
top:0;
right:-45px;
height:200px;
background:#EF413D;
width:100%;
content:'';
pointer-events:none;
}

.slant.bottom:after {
-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;
-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
-ms-transform:rotate(4deg);
-o-transform:rotate(4deg);
transform:rotate(4deg);
position:absolute;
z-index:-1;
bottom:0;
right:-45px;
height:200px;
background:#EF413D;
width:150%;
content:'';
pointer-events:none;
}

.slant.white.top:before,.slant.white.bottom:after {
background-color:#FFF;
}

.slant .sm-line,.mDetail-5 .slash-left:before {
background:#FFF;
}


/** START #Whatismp div for detailing abt maker party **/
#whatismp {
text-align:center;
color:#FFF;
background:#EF413D;
background: url("../img/mpkbg-rt.jpg") repeat;
margin-bottom:0px;
padding:5px 0 50px;
z-index: 2;

}

#whatismp .wimp-content {
font-size:1.1em;
}

#whatismp h2, #whatismp h1 {
margin: 50px 0 20px 0;
color:#FFE600;
font-size: 2.5em;
letter-spacing: -1px;
text-transform: none;
/*font-weight: bold;*/
}

#event-counts {
	margin-left: 2px;
	font-family: "Lato", sans-serif;
}

#event-counts h1 {

	color:#fff;
	font-size: 5em;
	font-weight: bolder;
	margin-bottom: 1px;

}

#event-counts h2{

	margin-top: 1px;
		margin-bottom: 1px;


}
#event-counts h3{

	margin-top: 10px;
	text-transform: none;


}


/** #whatismp ENDS Here **/

#watchvideo
	{
		height: 80px;
		margin: 0;
		background: url(../img/watchvideopic.jpg) repeat;
		background-size: cover;
	}

#watchvideo h3 {
	margin: 30px auto;
	text-transform: none;
	color: #fff;
	text-shadow:1px 1px 1px #000 ;
	font-size: 2em;
}

#watchvideo a {

	color: #fff;
	text-decoration: none;
}

#watchvideo a:hover {

	text-shadow:1px 1px 2px #000 ;
}

	
#registerbanner
	{
		/*height: 90px;*/
		margin: 0;
		padding-top: 15px;
		padding-bottom: 15px;
		height: auto;
		background-size: cover;
	}



#registerbanner h1 {
	/*margin-top: 30px;*/
	text-transform: none;
	color: #fff;

	/*text-shadow:1px 1px 1px #000 ;*/
	font-size: 1.4em;
}

#registerbanner ul {
	float: left;
		margin: 0.67em 0;
	margin-bottom: 0


}
#registerbanner ul li {
	display: inline-block;
	padding-left: 6em;
	/*margin: 32px auto;*/
	color: #fff;
	font-size: 1.4em;


}

#registerbanner ul li a{
color: #fff;

}

#registerbanner:hover
	{
		/*height: 120px;*/
	}




/* Hex-Formations */

#right-hex {
position:fixed;
right:34px;
top:34px;
z-index:99999;
cursor:pointer;
outline:none;
padding:10px 35px 16px 0;
}

#right-hex:after {
background:#FFF;
height:300px;
width:150px;
position:absolute;
z-index:-11;
top:-140px;
right:-85px;
content:"";
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}




#bottom-right-hex {
position:fixed;
right:34px;
bottom:34px;
z-index:99999;
cursor:pointer;
outline:none;
padding:10px 35px 16px 0;
}

#bottom-right-hex:after {
background:#FFF;
height:300px;
width:150px;
position:absolute;
z-index:-11;
bottom:-140px;
right:-200px;
content:"";
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}




#left-hex {
top:14px;
position: fixed;
left:8px;
}

#left-hex:after {
background:#FFF;
height:300px;
width:150px;
position:absolute;
z-index:9999;
top:-145px;
left:-58px;
content:"";
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}


#bottom-left-hex {
bottom:14px;
position: fixed;
left:8px;
}

#bottom-left-hex:after {
background:#FFF;
height:300px;
width:150px;
position:absolute;
z-index:9999;
bottom:-145px;
left:-150px;
content:"";
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/** END Hex Formation */






/*** Navaigaton Styles **/


#nav .nav-wrap {
background:#FFF;
width:250px;
position:fixed;
z-index:9999;
height:100%;
top:0;
right:-250px;/* This should be the transition  -250px to 0px*/
text-align:right;
-moz-transition:all 300ms;
-o-transition:all 300ms;
-webkit-transition:all 300ms;
transition:all 300ms;
}

#nav .nav-wrap.open {
-webkit-transform:translate3d(-250px,0,0);
-moz-transform:translate3d(-250px,0,0);
-ms-transform:translate3d(-250px,0,0);
-o-transform:translate3d(-250px,0,0);
transform:translate3d(-250px,0,0);
}

#nav ul {
margin-top:170px;
margin-left:-40px;
}

#nav ul li {
list-style:none;
}

#nav ul li a {
text-transform:uppercase;
font-family:"Open Sans", sans-serif;
font-size:2em;
color:black; /* #1f2022 */
line-height:1;
display:block;
/*position:absolute;*/
right:-200px;
outline:none;
-moz-transition:all 200ms;
-o-transition:all 200ms;
-webkit-transition:all 200ms;
transition:all 200ms;
margin:0;
padding:10px 20px 10px 0;
}

#nav ul li a:hover {

/*position:absolute;*/
background:#00B0B7;
/*bottom:0;
left:100%;
right:0;
top:0;
*/
text-decoration: none;
margin-right: 10px;
z-index:-1;
color:white;
transition:left 200ms ease;
-webkit-transition:left 200ms ease;
-moz-transition:left 200ms ease;
-ms-transition:left 200ms ease;
-o-transition:left 200ms ease;
}

#nav ul ul {
margin:0 0 0 -40px;
}

#nav ul ul li a {
font-size:1em;

}


/** Menu button **/
#nav-toggle {
position:fixed;
right:34px;
top:34px;
z-index:99999;
cursor:pointer;
outline:none;
padding:10px 35px 16px 0;
}

#nav-toggle span,#nav-toggle span:before,#nav-toggle span:after {
cursor:pointer;
border-radius:1px;
height:5px;
width:35px;
background:#1f2022;
position:absolute;
display:block;
content:'';
transition:all 300ms ease-in-out;
}

#nav-toggle span:before {
top:-10px;
}

#nav-toggle span:after {
bottom:-10px;
}

#nav-toggle.active span {
background-color:transparent;
}

#nav-toggle.active span:before {
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
top:0;
}

#nav-toggle.active span:after {
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
bottom:0;
}

#nav-toggle:after {
background:#FFF;
height:300px;
width:150px;
position:absolute;
z-index:-11;
top:-140px;
right:-85px;
content:"";
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}



/** End Nav Styles **/






/*** START #whatmakes **/

#whatmakes {
text-align:center;
color:#000;
text-shadow: 1px 1px 0px #000;
background-color: #fff;
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;
}



#whatmakes .container-fluid,#whatmakes .row {
overflow-x:hidden;
margin:0;
padding:0;
}

#whatmakes .section-title {
margin-top:70px;
}

#whatmakes .sm-line {
margin-bottom:110px;
}

#whatmakes .widb-title {
font-family:"Helvetica", Open Sans, sans-serif;

font-size:2.5em;
line-height:0.8;
position:relative;
color:#FFF;
z-index:100;
}

#whatmakes .widb-title strong {

display:block;
font-weight: 400;
font-size:1.6em;
}

#whatmakes [class*="col-"] {
height:400px;
padding-top:120px;
position:relative;
}

#whatmakes .row {
margin-bottom:10px;
overflow-y:hidden;
}


/** Maker Details **/



.sc-para {
	color: white;
	width: 70%;
	margin: 0 auto;

}

.mDetail-1 {
background:url(../img/makes-bg.jpg) no-repeat center center;
background-color:RGB(42,77,80);
background-size:cover;
-webkit-background-size:cover;
-moz-background-size:cover;
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;

}

.mDetail-1 a {
	color: #fff;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid;
}

.mDetail-1:hover {
 padding-left: 30px;
 margin-left: -15px;
}



.mDetail-2 {
background:#f3f3f3;
text-shadow: 1px 1px 0px #fff;
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;

}

.mDetail-2:hover {
	/*background:#f0f0f0;*/
 padding-right: 30px;
 margin-right: -15px;
}

.mDetail-2:hover:before :after{
	background:#f0f0f0;

}


.mDetail-2 .widb-title {
color:#1f2022!important;

}

.mDetail-2 .sc-para {
	color:#1f2022!important;
}

.mDetail-2:before {
background:#f3f3f3;
position:absolute;
z-index:10;
left:0;
top:-23px;
height:110%;
width:75px;
content:"";
-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;
-webkit-transform:rotate(8deg);
-moz-transform:rotate(8deg);
-ms-transform:rotate(8deg);
-o-transform:rotate(8deg);
transform:rotate(8deg);
}

.mDetail-2:after {

	background:#FFF;
position:absolute;
z-index:8;
left:-10px;
top:-23px;
height:110%;
width:75px;
content:"";
-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;
-webkit-transform:rotate(8deg);
-moz-transform:rotate(8deg);
-ms-transform:rotate(8deg);
-o-transform:rotate(8deg);
transform:rotate(8deg);

}

.mDetail-2 a {

	border: 1px solid;
	padding:5px;
	margin-top: 0px;
}

.mDetail-4 {
background:#EF413D no-repeat center center;
background:url(../img/teach-bg.jpg) no-repeat center center;
background-size:cover;
-webkit-background-size:cover;
-moz-background-size:cover;
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;

}

.mDetail-4 .sc-para {
width: 50%;

} 

.mDetail-4:hover{

	margin-left: -10px;
}

.mDetail-3 {
background:#282828;
color:#FFF;
}

.mDetail-3:before {
background:#282828;
position:absolute;
z-index:10;
right:0;
top:-23px;
height:110%;
width:75px;
content:"";
-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;
-webkit-transform:rotate(-8deg);
-moz-transform:rotate(-8deg);
-ms-transform:rotate(-8deg);
-o-transform:rotate(-8deg);
transform:rotate(-8deg);
}

.mDetail-3:after {
background:#FFF;
position:absolute;
z-index:8;
right:-10px;
top:-23px;
height:110%;
width:75px;
content:"";
-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;
-webkit-transform:rotate(-8deg);
-moz-transform:rotate(-8deg);
-ms-transform:rotate(-8deg);
-o-transform:rotate(-8deg);
transform:rotate(-8deg);
}


/*end maker details**/



/**END WHAT MAKES**/


.mDetail-5 {
height:auto;
padding:40px;
/*background-color:#0FF;**/
}

.mDetail-5 h2 {
font-size:2em;
}

/**  fcking Cool css animationnnnssss.. yo yo useless piece of shit.. :P **/


.animated {
-webkit-animation-duration:1s;
animation-duration:1s;
-webkit-animation-fill-mode:both;
animation-fill-mode:both;
}

.animated-slow {
-webkit-animation-duration:2s;
animation-duration:2s;
-webkit-animation-fill-mode:both;
animation-fill-mode:both;
}

.animated-super-slow {
-webkit-animation-duration:4s;
animation-duration:4s;
-webkit-animation-fill-mode:both;
animation-fill-mode:both;
}

.fadeInTitle {
-webkit-animation-name:fadeInTitle;
animation-name:fadeInTitle;
}

.fadeInTitleShort {
-webkit-animation-name:fadeInTitleShort;
animation-name:fadeInTitleShort;
}

.fadeIn {
-webkit-animation-name:fadeIn;
animation-name:fadeIn;
}

.fadeInUp {
-webkit-animation-name:fadeInUp;
animation-name:fadeInUp;
}

.fadeInLeft {
-webkit-animation-name:fadeInLeft;
animation-name:fadeInLeft;
}

.fadeInRight {
-webkit-animation-name:fadeInRight;
animation-name:fadeInRight;
}



/** end css transitions **/


/** Footer **/

footer {
text-align:center;
/*background:#1f2022;*/
background: url("../img/footer-bkg.png") repeat;

color:#fff;
font-size:.8em;
height: auto;
padding-top: 5px;
padding-bottom:30px;
}

footer #endcredits {
	margin-top: 30px;
	padding-left: 10px;
}

footer h4, footer h2 {

	text-transform: none;
}

footer a {
	color:#fff;

}

footer #sociallinks a {
	font-size: 1.5em;
}





/** Register form **/
#headerbar {

	padding: 50px;
	padding-bottom: 10px;
	padding-left: 150px;
}

#headerbar img {
	height: 150px;

}

#regform {

	background: #fff;
	padding: 50px;
}


/**regform styles **/


#regform {
    margin-left:auto;
    margin-right:auto;

    /*max-width: 500px;*/
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#regform h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
#regform h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

#regform label {
    display: block;
    margin: 0px 0px 5px;
}
#regform label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
#regform input[type="text"], #regform input[type="email"], #regform textarea, #regform select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
#regform textarea{
    height:100px;
    padding-top: 10px;
}
#regform select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none;
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
#regform .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
#regform .button:hover {
    background-color:#80A24A;
}



/**end regform style**/










#header-logo {
	margin-left: 50px;
	margin-top: 20px;
	width: 250px;
	height: 250px;

}


@media (max-width: 980px) {
.mDetail-2:before {
display: none;
}


.mDetail-2:after {
display: none;
}

.mDetail-3:before {
display: none;
}


.mDetail-3:after {
display: none;
}
.sc-para {
	width: 70%;
}

#MainHome img {

	min-width:80%;
	margin-left: 50px;
}

#registerbanner h1 {

	text-align: center;
}

#registerbanner ul li {

	text-align: center;
	padding-bottom: 20px;
	padding-left: 4em;
}

#MainHome h2, #MainHome h1, #MainHome .alert {
	text-align: center;
}

.slant {

	margin-top: 0;
}

}


@media (max-width: 500px) {

.sc-para {
	width: 80%;
}
#MainHome img {

	min-width:96%;
	margin-left: 10px;
}



#dateid h1{
	font-size: 2em;
}

#registerbanner h1 {

	font-size: 1.6em;
}






}/** END MAX WIDTH 500PX**/